body{
    color: black;
    background-color: yellow;
}

body.dark{
    color: white;
    background-color: black;

}

.box{
    border: 1px solid red;
    height: 140px;
    width: 140px;
    margin:auto;
    display:inline-block;
}

#box2{
    position:relative;
    left:10px;
}

